modules/aft-customizations/states/invoke_customizations.asl.json
{
  "StartAt": "Identify Targets",
  "States": {
    "Identify Targets": {
      "Next": "Invoke Provisioning Framework",
      "Type": "Task",
      "Resource": "${identify_targets_function_arn}",
      "ResultPath": "$.targets",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Notify Failure"
        }
      ]
    },
    "Invoke Provisioning Framework": {
      "Type": "Map",
      "Next": "Get Pipeline Executions",
      "MaxConcurrency": 25,
      "InputPath": "$.targets",
      "ItemsPath": "$.target_accounts_info",
      "Parameters": {
        "info.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "Invoke Account provisioning Step Function",
        "States": {
          "Invoke Account provisioning Step Function": {
            "Type": "Task",
            "Resource": "arn:${current_partition}:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn": "${invoke_account_provisioning_sfn_arn}",
              "Input.$": "$.info" 
            },
            "End": true
          }
        }
      },
      "ResultPath": null
    },
    "Get Pipeline Executions": {
      "Next": "Pending Pipeline Executions?",
      "Type": "Task",
      "Resource": "${get_pipeline_executions_function_arn}",
      "ResultPath": "$.running_executions",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Notify Failure"
        }
      ]
    },
    "Pending Pipeline Executions?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.targets.number_pending_accounts",
          "NumericEquals": 0,
          "Next": "Notify Success"
        }
      ],
      "Default": "Below Maximum Execution Threshold?"
    },
    "Below Maximum Execution Threshold?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.running_executions.running_pipelines",
          "NumericLessThan": 5,
          "Next": "Execute Pipelines"
        }
      ],
      "Default": "Wait on Pipeline Executions"
    },
    "Execute Pipelines": {
      "Next": "Wait on Pipeline Executions",
      "Type": "Task",
      "Resource": "${execute_pipeline_function_arn}",
      "ResultPath": "$.targets",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Notify Failure"
        }
      ]
    },
    "Wait on Pipeline Executions": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Get Pipeline Executions"
    },
    "Notify Success": {
      "Type": "Task",
      "Resource": "arn:${current_partition}:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${aft_notification_arn}",
        "Message.$": "$"
      },
      "End": true
    },
    "Notify Failure": {
      "Type": "Task",
      "Resource": "arn:${current_partition}:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${aft_failure_notification_arn}",
        "Message.$": "$.Cause"
      },
      "Next": "Failed"
    },
    "Failed": {
      "Type": "Fail"
    }
  }
}
